
  @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


*{
    font-family: 'Rubik', sans-serif;
margin: 0;
padding: 0;
outline: 0;
}

.fullsection{
margin: 0px 100px;

}

/* header area here */

.navigasionarea{
  margin: 0px 100px;

}

.headerarea {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color:#19CE67 ;
margin-top: 7px;
margin-bottom: 7px;

}

.menubar{
visibility: hidden;

}


.textarea {
   display: flex;
  text-decoration: none;
  list-style: none;
  gap: 8px;
  /* font-size: 11px;  */

}

.textarea > li:hover {
  cursor: pointer;
  background-color: red;
 color: white;
}

.textarea > li {
  border-radius: 4px;
  padding: 0px 10px;

}

.header1 {

display: flex;
  
}
.color{
color: black;
}

/* doctor image section here */

 
.banner{
background-image: linear-gradient(rgba(0, 0, 0, 0.034), rgba(0, 0, 0, 0.062)),
  url(./image/banner-bg.jpg);
background-size: cover;
padding: 0px 100px;
display: flex;
align-items: center;
justify-content: center;

}


.btn {
padding: 2px 12px;
color: white;
background-color: #19CE67;
border: none;
margin-top: 15px;
border-radius: 2px;

}

.btn1{
  padding: 2px 15px;
  color: white;
  background-color: black;
  border: none;
  margin-top: 15px;
  border-radius: 2px;

}

.btn1:hover{
  cursor: pointer;
  background-color: red;

}

.btn:hover {
cursor: pointer;
background-color: red;

}

.imagehere{
width: 350px;


}

.bannersection{
width: 50%;

}

.imageheader{
  width: 50%;

}

.bannersection h1{
color: #19CE67;

}

.bannersection p{
/* font-size: 12px; */
margin-top: 10px;
}

/* products section here */

/* text area */

.productletter{
 text-align: center;
margin-top: 30px;

}

.productletter p{
/* font-size: 12px; */

}

.productletter h2{
color: #19CE67;

}


/* products section here */

.productimage{
/* width: 100%; */
height: 150px;
width: 100px;

}

.productarea{
  height: 270px;
background-color: rgba(243, 238, 238, 0.573);
text-align: center;
border-radius: 5px 5px 9px 9px ;
border: 1px solid lightgray;

}

.productarea:hover{
cursor: pointer;
box-shadow: 0px 0px 16px 2px lightgray;

}


.productarea h4{
color: #19CE67;
font-size: 11px;
}

.productarea p{
font-size: 11px;
margin-top: 5px;
margin-bottom: 5px;

}

.productarea h3{
font-size: 13px;


}

.productsection{
display: grid ;
grid-template-columns: auto auto auto auto;
gap: 10px;
margin-top: 30px;

}

.iconarea{
color: orange;
margin-bottom: 5px;
}

.buttonarea{
  width: 100%;
  height: 100%;
border-radius: 0px 0px 6px 6px;
background-color: #19CE67;
color: white;
/* font-size: 10px; */
border: none;
padding: 2px;

}

.buttonarea:hover{
cursor: pointer;
background-color: blue;

}

.btn3{
  padding: 3px 9px;
  color: white;
  background-color: #19CE67;
  border: none;
  border-radius: 2px;
  font-size: 11px;
  margin: auto;
}

.btncontainer{
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 5px;
}

.btn3:hover{
cursor: pointer;
background-color: red;

}

/* doctor area here */

.doctorarea{
  height: 230px;
  background-color: rgba(243, 238, 238, 0.573);
  text-align: center;
  border-radius: 5px;
border: 1px solid lightgray;

}

.doctorcard{

  display: grid ;
  grid-template-columns: auto auto auto auto; 
  gap: 10px;
  margin-top: 30px;

}

.doctorarea:hover{
  cursor: pointer;
  box-shadow: 0px 0px 15px 3px lightgray;

}

.doctorarea p{
/* font-size: 10px; */
margin-top: 5px;
}

.productimage1{
width: 100%;

}

.doctorarea h5{
  margin-top: 15px;
  color: #19CE67;
}

/* <!-- news and blog section --> */

.date{
color: black;
padding: 0px 10px;

}

.displaycontent{
  /* /* height: 300px; */
  width: 210px; */
  border-radius: 5px;
  border: 1px solid lightgray;
  padding-bottom: 5px;
}


.displaycontent h4{
color: #19CE67;
margin-top: 9px;
padding: 0px 7px;
}

.displaycontent h5{
  color: #19CE67;
margin-top: 9px;
padding: 0px 7px;

}

.displaycontent p{
  margin-top: 7px;
/* font-size: 10px; */
padding: 0px 7px;
}

.dategap{
gap: 5px;

}

.displaycontent:hover{
  cursor: pointer;
  box-shadow: 0px 0px 15px 3px lightgray;
}

.read{
text-decoration: underline;
border: none;
color: #19CE67;
background-color: white;
padding: 0px 5px;
}

/* footer area here */

.footerareatext{
 display: flex;
 align-items: center; 
 justify-content: center; 
margin: 0px 100px;
gap: 25px;

}

.footerareatext p{
  font-size: 10px;
margin-top: 10px;

}
.footerarea{
background-color: black;
color: white;
margin-top: 30px; 

}

.div1{
width: 50%;
margin-top: 10px;
margin-bottom: 10px;

}


.div1 p{
font-size: 9px;


}

.div2{
  width: 25%;
 font-size: 11px;

  }
  
  .div3{
    width: 25%;
    font-size: 11px;
    
    }
    
    
.footertext{
font-size: 12px;
text-align: center;
background-color: black;
color: white;

}

.textread{
margin-top: 10px;
margin-bottom: 10px;

}

.textread1{
  margin-top: 10px;
  margin-bottom: 10px;
  
  }
  
  /* Responsive Web desing */

/* for mobile screen  */

@media only screen and (max-width:600px){

.navigasionarea{
margin: auto;

}

.banner{
display: block;
   padding: 30px 20px;

}
.imagehere{
display: none;

}
.productsection{
display: block;

}
.productimage {
width: 100%;
margin: 0px 5px;
}


.doctorcard{
display: block;


}
.footerareatext{
display: block;

}
.fullsection{
margin: auto auto;


}

.textarea{
display: none;


}
.menubar{

  visibility: visible;
  
  }
  

}



